{% extends "layout.html" %}

{% block search_result %}
    <ol>
       {% for word in words %}
            <li><a href="https://en.oxforddictionaries.com/definition/{{ word }}"">{{ word }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}