<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dictonary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h1>English Dictonary</h1>

        <form action="/search" method="get" class="searchform">
            <input autocomplete="off" autofocus type="text" name="q" class="search">
            <input type="submit" value="Search" class="button">
        </form>
                
        <div class="results">
            {% block search_result %}
            {% endblock %}
        </div>
    </div>

</body>
</html>