html, body {
	width: 100%;
	height: 100%;
}

.container{
	padding-top: 3rem;
	margin: auto;
	width: 50%;
}

h1 {
	text-align: center;
	color: blue;
	font-size: 76px;
}

.searchform {
	font-size: 50px;
	text-align: center;
}

.button{
	background-color: green;
	padding: 22px, 50px;
}

.search {
	background-color: aqua;
}

.results{
	margin-top: 5%;
	font-size: 35px;
	text-align: center;
	border: 1px solid gray;
}

.results li {
	padding: 10px;
	border-bottom: 1px solid black;
}

ol {
	list-style-position: inside;
	padding: 0;
}